html, body, #root, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
	background: black;
}

$theme-blue: #14B6D4;

.image-slide {
	height: 300px;
	width: 300px;
	margin: auto;
	margin-top: 280px;
	transform: background-image .3s ease-in-out;
}

.slide-arrow {
	color: $theme-blue;
	cursor: pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
	background: rgba(0,0,0,0.4);
	outline: none;
}

.slide-arrow:hover {
	background: rgba(0,0,0,0.6);
}

.slide-arrow.right {
	right: 19.2rem;
	top: 400px;
	padding: 6px;
	padding-left: 16px;
}

.slide-arrow.left {
	left: 19.2rem;
	top: 400px;
	padding: 3px 7px 3px 5px;
}

